<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached protocol="Text">
      <servers>
        <add address="120.25.160.10" port="11211" />
      </servers>
      <socketPool connectionTimeout="00:00:3" deadTimeout="00:00:3" />
    </memcached>
  </enyim.com>
  <appSettings>
    <!--<add key="OracleConnectionString" value="Data Source=120.76.26.241;Initial Catalog=haiqugou;Persist Security Info=True;User ID=sa;Password=Haiqugou123"/>-->
    <!--<add key="OracleConnectionString" value="Data Source=119.29.6.130;Initial Catalog=weijianew;Persist Security Info=True;User ID=weijia;Password=*^^*WeiJia@wk698.com*^^*" />-->
    <add key="OracleConnectionString" value="Data Source=112.74.65.202;Initial Catalog=xingying;Persist Security Info=True;User ID=demo;Password=demo" />
    <!--<add key="OracleConnectionString" value="Data Source=DESKTOP-6OTLS3M\KUNSQL;Initial Catalog=xingying;Persist Security Info=True;User ID=sa;Password=123456"/>-->
    <!--<add key="OracleConnectionString" value="Data Source=120.24.174.206;Initial Catalog=xingying_test;Persist Security Info=True;User ID=demo;Password=demo" />-->
    <!--<add key="OracleConnectionString" value="Data Source=.;Initial Catalog=yoyogou;Persist Security Info=True;User ID=sa;Password=123456" />-->
    <!--<add key="OracleConnectionString" value="Data Source=120.76.73.171;Initial Catalog=yoyogou;Persist Security Info=True;User ID=yogou;Password=-*_YoYoGou#%yyg_*-2016"/>-->
    <!--<add key="OracleConnectionString" value="Data Source=120.25.160.10;Initial Catalog=shop_DB;Persist Security Info=True;User ID=sa;Password=king/Shop-*."/>-->
    <!--<add key="OracleConnectionString" value="Data Source=.;Initial Catalog=xingying;Persist Security Info=True;User ID=sa;Password=123456" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CacheState" value="Open" />
    <add key="CacheType" value="Memcached" />
    <add key="CacheExpiry" value="30" />
    <add key="LuceneIndexPath" value="E:\Pisen\hyt\Lucene" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceProxyBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <!-- 启用Session 必须 allowCookies 设置为 True-->
        <binding name="webhttp" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" allowCookies="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="CookieAllowableBinding" allowCookies="true" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>   
      <endpoint name="IErpService" address="http://szxyqqg.gnway.org:3312/erp/ErpService.svc" contract="Grand.Platform.Api.Contract.IErpService" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <endpoint name="IMallService" address="http://183.47.48.242:3312/MallService.svc" contract="Grand.Platform.Api.Contract.IMallService" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding">
      </endpoint>
      <!--<endpoint name="IProduct" address="http://server.yoyo2o.com/B2CApp/Product.svc"  contract="Hyt.Service.Contract.B2CApp.IProduct" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding"/>-->
      <endpoint name="IProduct" address="http://server.singingwhale.cn/B2CApp/Product.svc" contract="Hyt.Service.Contract.B2CApp.IProduct" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />   
      <endpoint name="IPosService" address="http://120.31.131.136:8070/PosService.svc" contract="Grand.Platform.Api.Contract.IPosService" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <!--<endpoint name="IAccount" address="http://localhost:6622/MallSeller/Account.svc" contract="Hyt.Service.Contract.MallSeller.IAccount" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />-->
      <endpoint name="IAccount" address="http://localhost:60005/B2CApp/Account.svc" contract="Hyt.Service.Contract.B2CApp.IAccount" behaviorConfiguration="webBehavior" binding="webHttpBinding" />
      <endpoint name="IExtendMallOrder" address="http://upgradesservice.huiyuanti.com/MallSeller/ExtendMallOrder.svc" contract="Hyt.Service.Contract.MallSeller.IExtendMallOrder" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <endpoint name="IMallOrder" address="http://localhost:60005/MallSeller/MallOrder.svc" contract="Hyt.Service.Contract.MallSeller.IMallOrder" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <endpoint name="ITaskService" address="http://server.rennibi.cn/Task/TaskService.svc" contract="Hyt.Service.Contract.Task.ITaskService" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <!-- 启用Session 必须binding的 allowCookies 设置为 True-->
      <endpoint name="ILogistics" address="http://localhost:60005/LogisApp/Logistics.svc" contract="Hyt.Service.Contract.LogisApp.ILogistics" binding="webHttpBinding" bindingConfiguration="webhttp" behaviorConfiguration="webBehavior" />
      <!--获取企业用户信息服务 sso 谭显锋添加-->
      <endpoint name="IEnterpriseUserService" address="http://soa.v3.huiyuanti.com/sso/v2/EnterpriseUserService.svc" contract="Pisen.Service.Share.SSO.Contract.IEnterpriseUserService" binding="basicHttpBinding">
        <headers>
          <AppKey>11795611</AppKey>
          <AppSecret>477183ee85e74ff4ad621fa726aced9d</AppSecret>
        </headers>
      </endpoint>
      <!--end-->
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>