@model Hyt.Model.Transfer.CBPrtPicking
@using Hyt.Model.SystemPredefined;
@{
    Layout = "~/Views/Shared/_PrintWh.cshtml";
    ViewBag.Title = "拣货（出库）单批量打印被请求页";
}
<script type="text/javascript" src="/Theme/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/Theme/Plugins/Print/LodopFuncs.js"></script>
<div class="caseout" style="margin: auto;">

    <object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width="100%" height="600">
        <embed id="LODOP_EM" type="application/x-print-lodop" width="100%" height="650" pluginspage="~/Print/install_lodop32.exe"></embed>
    </object>


</div>
<iframe src="PickingBatchSub/1650" width="800" height="500" id="url"></iframe>


@section FooterJs
{
    <script type="text/javascript">
        //有条码，1：循环请求URL来进行打印。2：另外生成url条码图片,仍然有验证问题

        var LODOP;
        //声明为全局变量  
        //直接打印
        myPreviewLoad();
        //function myPrint() {
        //    CreatePrintPage();
        //   // LODOP.PRINT();
        //    if (LODOP.PRINTA())
        //        alert("已发出实际打印命令！");
        //    else
        //        alert("放弃打印！");
        //}

        //;
        //选择打印机打印

        //function myPrintA() {
        //    CreatePrintPage();
        //    LODOP.PRINTA();
        //}

        ;
        //直接加载打印预览
       function myPreviewLoad() {
            CreatePrintPage();
            //LODOP.SET_SHOW_MODE("PREVIEW_IN_BROWSE", 1);
            //LODOP.SET_SHOW_MODE("HIDE_PAPER_BOARD", 1);
            //LODOP.PREVIEW();
            // LODOP.PRINT();
        };
        ////打印预览

        //function myPreview() {
        //    CreatePrintPage();
        //    LODOP.PREVIEW();
        //}

        //;
        ////打印维护

        //function mySetup() {
        //    CreatePrintPage();
        //    LODOP.PRINT_SETUP();
        //}

        //;
        ////打印设计

        //function myDesign() {
        //    CreatePrintPage();
        //    LODOP.PRINT_DESIGN();
        //}

        //;

        function CreatePrintPage() {
            var sysnos = '@ViewBag.sysnos';
            var sys = sysnos.split(',');

            for (var i = 0; i < sys.length; i++) {
                LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
                LODOP.PRINT_INIT("拣货单打印");
                LODOP.SET_PRINT_PAGESIZE(1, 2100, 1480, '');


                //LODOP.ADD_PRINT_HTML(16, "5%", "85%", "BottomMargin:16px", "URL:http://localhost:8360/Print/PickingBatchSub/"); //验证问题 
                LODOP.ADD_PRINT_URL(16, "5%", "90%", "BottomMargin:16px", "PickingBatchSub/" + sys[i]); //相对路径 同一目录

                LODOP.ADD_PRINT_BARCODE(60, "6%", 360, 40, "Code39", sys[i]); //后面输出的在顶层        
                LODOP.SET_PRINT_STYLEA(0, "ShowBarText", 0);
                LODOP.PRINT();//直接打印
            }
            // var strStyle = "<style>" + document.getElementById("style1").innerHTML + "</style>";

            //   LODOP.ADD_PRINT_HTM(16, "5%", "85%", "BottomMargin:16px", strStyle + document.getElementById("print").innerHTML);
            // LODOP.ADD_PRINT_TABLE(213, "5%", "85%", 235, strStyle + document.getElementById("divitem").innerHTML); //明细 高度调
            // LODOP.SET_PRINT_STYLEA(0, "Vorient", 3);

            // LODOP.ADD_PRINT_HTM(20, "5%", "85%", 190, strStyle + document.getElementById("divmain").innerHTML);//头
            //// LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);//页眉页脚
            //// LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);

            // LODOP.ADD_PRINT_HTM(450, "5%", "85%", 100, strStyle + document.getElementById("divfoot").innerHTML); //脚 top调
            //// LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
            // LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);

@*            LODOP.ADD_PRINT_HTM(20, "91%", "3%", "95%", strStyle + document.getElementById("divslide").innerHTML); //侧边 
            LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
            LODOP.SET_PRINT_STYLEA(0, "Vorient", 3);

            LODOP.ADD_PRINT_TEXT(3, "85%", 135, 20, "第#页/共&页");
            LODOP.SET_PRINT_STYLEA(0, "ItemType", 2);
            LODOP.SET_PRINT_STYLEA(0, "Horient", 1);

            LODOP.ADD_PRINT_BARCODE(60, "6%", 360, 40, "Code39", "@Model.SysNo"); //后面输出的在顶层        
            LODOP.SET_PRINT_STYLEA(0, "ShowBarText", 0);*@

        }

        ;
    </script>
}

