body{background-color:#ebebeb; font:normal 12px/20px  Arial,Tahoma,"宋体";}
.bw{width:1210px;margin:0 auto}
body,div,p,span,h1,h2,h3,h4,h5,h6,ol,ul,li,b,dl,dt,dd,em,i,form,input{margin:0;padding:0;list-style:none;}
/*h1,h2,h3,h4,h5,h6{font-family:"微软雅黑","黑体","华文细黑";}*/

.bg_f5{background:#f5f5f5;}
td{ word-break:break-all;}
*{margin:0;}
img{border:none}
.imgbox img{ border:#ddd solid 1px; padding:2px;}
h1,h2{font-size:16px;}
h2{font-weight:normal;}                      
h3,h4{font-size:14px;}                
h4{font-weight:normal;}
h5,h6{font-size:12px;}
h6{font-weight:normal;}

/*=表单样式=*/
input{ size:12px; color:#333;}
button{ line-height:20px;}
input[type=checkbox],input[type=radio]{vertical-align:middle}
textarea{vertical-align:middle}
:focus { outline:none;}

/*=浮动=*/
.fl{float:left}
.fr{float:right}
.clear{float:none;clear:both;height:0;overflow:hidden}
.clearfix:after{clear:both;content:"";height:0;overflow:hidden;display:block; visibility:hidden;}
.clearfl{clear:left}
.clearfr{clear:right}

/*=文字=*/
.hide{display:none!important}
.block{display:block!important}
.inline{display:inline!important}
.veralign_t{ vertical-align:top;}
.align_r{text-align:right!important}
.align_l{text-align:left!important}
.align_c{text-align:center!important;}
.align_j{text-align:justify!important}
.italic{font-style:italic!important}

/*=字体样式=*/
.f_ar{ font-family:Arial;}
.f_wr{ font-family:"微软雅黑";}
.f11{ font-size:11px;}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f32{font-size:32px;}
.f38{font-size:38px;}

.c0{color:#000000;}
.c3{color:#333333;}
.c6{color:#666666;}
.c9{color:#999999;}
.cc{color:#cccccc;}
.cf{color:#fff;}
.v_star{ color:red; margin-right:3px;}   

.ft_lt{text-decoration:line-through; }
.ft_underl{text-decoration:underline; }
.bold{font-weight:bold;}
.boldx{font-weight:normal;}
.bold4{font-weight:400}
.bold5{font-weight:500}
.bold6{font-weight:600}

/*=尺寸=*/
.div10{ height:10px; line-height:10px; padding:8px 0;}
.div30{ height:30px; line-height:30px; padding:8px 0;}
.title30{height:30px; line-height:30px; padding-left:5px;}


.wd24{ width:24px;}
.wd28{ width:28px;}
.wd32{ width:32px;}
.wd40{ width:40px;}
.wd50{ width:50px;}
.wd60{ width:60px;}
.wd67{ width:67px;}
.wd70{ width:70px;}
.wd75{ width:85px;}/*系统定单*/
.wd80{ width:80px;}
.wd90{ width:90px;}
.wd100{ width:113px;}/*金额*/
.wd110{ width:110px;}/*快递定单*/
.wd115{ width:115px;}
.wd120{ width:120px;}
.wd130{ width:130px;}
.wd140{ width:140px;}
.wd150{ width:150px;}
.wd155{ width:155px;}
.wd160{ width:160px;}
.wd165{ width:165px;}
.wd170{ width:170px;}
.wd180{ width:180px;}
.wd190{ width:190px;}
.wd200{ width:200px;}
.wd230{ width:230px!important;}
.wd240{ width:240px!important;}
.wd270{ width:270px!important;}
.wd300{ width:300px!important;}
.wd400{ width:400px;}
.wd440{ width:440px;}
.wd450{ width:450px;}
.wd600{ width:600px;}
.wd580{ width:580px;}
.wd300{ width:300px;}


.wd156{ width:156px;}

.ht22{ height:22px;}
.ht26{ height:26px;}
.ht28{ height:28px!important;}
.ht30{ height:30px!important;}
.ht32{ height:32px!important;}
.ht35{ height:35px!important;}

/*=解决firefox和IE兼容问题=
@-moz-document url-prefix(){
.btn{padding:0;}
.ht22{padding:0 1px;}
.ht26{padding:0 3px;}
.ht28{padding:0 5px;}
.ht30{padding:0 6px;}
.ht32{padding:0 6px;}
}
*/
/*=主要用于兼容IE7问题=*/


/*=边框样式=*/
.bd_none{border:none!important;}
.bd_bs{border-bottom:solid 1px;}
.bd_rs{ border-right: solid 1px;}
.bd_ts{ border-top: solid 1px;}
.bd_bd{border-bottom:dashed 1px;}
.bd_1{border:1px solid;}
.bd_c{border-color:#ccc;}


/*=链接样式=*/
:foucs{outline:0}
a{cursor: pointer; color:#444; text-decoration:none;}
a:link,a:visited{color:#585858;text-decoration:none;}
a:hover,a:active{color:#585858;}

.white{color:white;}
.white a{color:white;cursor: pointer;}
.white a:hover{color:#fff;}

.blue{color:#2592DB;text-decoration: none;}
.blue a{color:#2592DB;text-decoration:underline;}
.blue a:hover{color:#2592DB;text-decoration: underline;}

.brown{color:brown;text-decoration: none;}
.brown a{color:#522c14;cursor: pointer;text-decoration: none;}
.brown a:hover{color:#522c14;text-decoration: underline;}

.green{color:#138913;text-decoration: none;}
.green a{color:#138913;text-decoration: none;}
.green a:hover{color:red;text-decoration:none;}

.graycc{color:#cccccc;}
.graycc a{color:#cccccc;}
.graycc a:hover{color:#3b5888;}

.grayc3{color:#333333;}
.grayc3 a{color:#333333;}
.grayc3 a:hover{color:#3b5888;}

.grayc6{color:#666666;}
.grayc6 a{color:#666666;}
.grayc6 a:hover{color:#3b5888;}

.grayc9{color:#999999;}
.grayc9 a{color:#999999;}
.grayc9 a:hover{color:#999999;}

.red{color:#C53927;}
.red a{color:#C53927;text-decoration: none;}
.red a:hover{color:red;text-decoration: underline;}

.red1{color:red;}
.red1 a{color:red;text-decoration: none;}
.red1 a:hover{color:red;text-decoration: underline;}

.purple{color:#8050ae;}
.purple a{color:#8050ae;text-decoration: none;}
.purple a:hover{color:#8050ae;text-decoration: underline;}

.yellow{color:#f6ff00;}
.yellow a{color:#f6ff00;text-decoration: none;}
.yellow a:hover{color:#f6ff00;text-decoration: underline;}

.pink{color:#c51894;}
.pink a{color:#c51894;text-decoration: none;}
.pink a:hover{color:#c51894;text-decoration: underline;}

.orange{color:#BA6407;}
.orange a{color:#BA6407;text-decoration: none;}
.orange a:hover{color:red;text-decoration: underline;}

.txt_a a{text-decoration:none;}


/*=排版样式=*/
.m0_l{ margin-left:0px!important;}
.m0_r{ margin-right:0px!important;}
.m3_l{margin-left:3px;}
.m2_t{margin-top:2px;}
.m3_t{margin-top:3px;}
.m5_t{margin-top:5px;}
.m10_t{margin-top:10px;}
.m10_lr{margin-left:10px; margin-right:10px;}
.m10_tb{margin-top:10px; margin-bottom:10px;}
.m15_t{margin-top:15px;}
.m20_t{margin-top:20px;}
.m20_r{ margin-right:20px;}
.m60_l{ margin-left:60px;}
.m3_r{margin-right:3px;}
.m5_r{margin-right:5px;}
.m10_r{margin-right:10px!important;}
.m10_b{margin-bottom:10px;}
.m20_b{margin-bottom:20px;}
.m5_l{margin-left:5px;}
.m10_l{margin-left:10px;}

.p5{padding:5px;}
.p5_tb{padding:5px 0;}
.p5_lr{padding:0 5px;}
.p5_t{ padding-top:5px!important;}
.p5_b{ padding-bottom:5px!important;}
.p5_l{ padding-left:5px!important;}
.p5_r{ padding-right:5px!important;}

.p10{padding:10px;}
.p10_lr{padding:0 10px;}
.p10_tb{padding:10px 0;}
.p10_t{padding-top:10px;}
.p10_l{ padding-left:10px;}
.p10_r{padding-right:10px;}
.p20_l{ padding-left:20px!important;}
.p10_b{ padding-bottom:10px;}
.p0_l{ padding-left:0px!important;}

.p0{ padding:0px!important;}
.m0{ margin:0px!important;}

.re{position:relative;}
.la{position:absolute;top:0px;left:0px;}
.ra{position:absolute;top:0px;right:0px;}
.more{position:absolute;top:0px;right:0px;}
.ra10{position:absolute; top:6px; right:10px; line-height:normal;}
.more10r{ float:right; margin-right:10px; line-height:20px;}


.line16{line-height:16px!important;}
.line18{line-height:18px!important;}
.line20{line-height:20px!important;}
.line25{line-height:25px!important;}
.line26{line-height:26px!important;}
.line28{line-height:28px!important;}
.line30{line-height:30px!important;}
.line35{line-height:35px!important;}
/*=排版样式end=*/

#loading{}
.icon{}
.start{}
.textarea{}





/*artDialog样式 开始*/
.aui_outer { text-align:left; }
table.aui_border, table.aui_dialog { border:0; margin:0; border-collapse:collapse; width:auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
/*.aui_header, .aui_buttons button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }*/
.aui_header, .aui_buttons button { font: 12px/1.11 ; _font-family:"宋体",tahoma; -o-font-family: "宋体",tahoma; }
.aui_title { overflow:hidden; text-overflow: ellipsis; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { display:block; position:absolute;  text-decoration:none; outline:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main {text-align:center;min-width:9em; min-width:0\9/*IE8 BUG*/; }
.aui_main_left {text-align:left; }
.aui_content { display:inline-block; *zoom:1; *display:inline; text-align:left; border:none 0;}
.aui_content.aui_state_full { display:block; width:100%; margin:0; padding:0!important; height:100%;}


.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(/Theme/images/loading.gif) no-repeat center center; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width:48px; height:48px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:8px; text-align:center; white-space:nowrap; }
.aui_buttons button { margin-left:15px; padding:6px 12px; font-size:14px; font-weight:bold; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: "宋体",tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border:solid 1px #C2C2C1; border-radius: 4px; background:#D6D6D6; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#D6D6D6'); background: linear-gradient(top, #E8E8E8, #D6D6D6); background: -moz-linear-gradient(top, #E8E8E8, #D6D6D6); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8E8E8), to(#D6D6D6)); }
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus { outline:none 0; }
.aui_buttons button:hover { color:#000; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6D6D6', endColorstr='#CBCBCB'); background: linear-gradient(top, #D6D6D6, #CBCBCB); background: -moz-linear-gradient(top, #D6D6D6, #CBCBCB); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D6D6D6), to(#CBCBCB));}
.aui_buttons button:active { border-color:#C2C2C1; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6D6D6', endColorstr='#CACACA'); background: linear-gradient(top, #DDD, #CACACA); background: -moz-linear-gradient(top, #DDD, #CACACA); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#CACACA)); box-shadow:inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=30); opacity:.3; box-shadow:none; }
button.aui_state_highlight { color: #FFF; border: solid 1px #0E86D7; background-image:url(../images/btnbg.png); background-color:#2291DB; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A9DDF', endColorstr='#2291DB'); background: linear-gradient(top, #3A9DDF, #2291DB); background: -moz-linear-gradient(top, #3A9DDF, #2291DB); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3A9DDF), to(#2291DB)); text-shadow: 1px 1px 0 #0E86D7; }
button.aui_state_highlight:hover { color:#FFF; border-color:#0D86D7; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#448FC0', endColorstr='#2D81B8'); background: linear-gradient(top, #448FC0, #2D81B8); background: -moz-linear-gradient(top, #448FC0, #2D81B8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#448FC0), to(#2D81B8));}
button.aui_state_highlight:active { border-color:#0E86D7; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A9DDF', endColorstr='#2291DB'); background: linear-gradient(top, #3A9DDF, #2291DB); background: -moz-linear-gradient(top, #3A9DDF, #2291DB); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3A9DDF), to(#2291DB)); }
/* common end */

.aui_inner { background:#FFF; }
.aui_inner { border:1px solid rgba(0, 0, 0, .7); border:1px solid #333\9; }
/*.aui_border { box-shadow: inset 0 0 1px rgba(255, 255, 255, .9); }*/
.aui_nw, .aui_ne, .aui_sw, .aui_se { width:8px; height:8px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background:rgba(0, 0, 0, .4); background:#000\9!important; filter:alpha(opacity=30); }
.aui_state_lock .aui_nw, .aui_state_lock .aui_n, .aui_state_lock .aui_ne, .aui_state_lock .aui_w, .aui_state_lock .aui_e, .aui_state_lock .aui_sw, .aui_state_lock .aui_s, .aui_state_lock .aui_se { background:rgba(0, 0, 0, .3); background:#000\9!important; filter:alpha(opacity=30); }
.aui_state_focus .aui_dialog { box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
/*.aui_state_focus .aui_outer { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }*/
/*.aui_state_lock .aui_border { box-shadow:0 3px 26px rgba(0, 0, 0, .9); }*/
.aui_state_drag .aui_outer, .aui_outer:active { box-shadow:none; }
.aui_titleBar { position:relative; height:100%; }
.aui_title { height:40px; line-height:39px; padding:0 28px 0 10px; font-size:14px;  background-color:#0C9BFB; font-weight:bold; color:#95a7ae; font-family: Tahoma,"宋体", Arial/9!important; background-color:#0A83D4; background: linear-gradient(top, #0C9BFB, #0A83D4); background: -moz-linear-gradient(top, #0C9BFB, #0A83D4); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0C9BFB), to(#0A83D4)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C9BFB', endColorstr='#0A83D4'); border-top:1px solid #0C9BFB; }
.aui_state_focus .aui_title { color:#fff; }
.aui_state_drag .aui_title { background: linear-gradient(top, #0A83D4, #0C9BFB); background: -moz-linear-gradient(top, #0A83D4, #0C9BFB); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0A83D4), to(#0C9BFB)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A83D4', endColorstr='#0C9BFB'); box-shadow:none; }
.aui_state_drag .aui_titleBar { box-shadow:none; }
.aui_close { padding:0; top:8px; right:8px; width:21px; height:21px; line-height:21px; font-size:20px; font-weight:bold; color:#ffffff; text-align:center; font-family: Helvetica, STHeiti; _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino; text-shadow:0 1px 0 rgba(255, 255, 255, .9); }
.aui_close:link{color:#FFF; }
.aui_close:hover { background:#0A82D1; color:#FFF; }
.aui_close:active { box-shadow: none; }
.aui_content { color:#666; }
.aui_state_focus .aui_content { color:#333333; }
.aui_buttons { background:url(../images/boxbg.png) repeat-x 0 46px #F6F6F6;  border-top:solid 1px #DADEE5; }
.aui_none{background:none !important; filter:none; border-top:none !important;}
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_se { width:3px; height:3px; }
.aui_state_noTitle .aui_inner { border:1px solid #666; background:#FFF; }
.aui_state_noTitle .aui_outer { border:none 0; box-shadow:none; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_n, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_w, .aui_state_noTitle .aui_e, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_s, .aui_state_noTitle .aui_se { background:rgba(0, 0, 0, .05); background:#000\9!important; filter:alpha(opacity=5)!important; }
.aui_state_noTitle .aui_titleBar { bottom:0; _bottom:0; _margin-top:0; }
.aui_state_noTitle .aui_close { top:0; right:0; width:18px; height:18px; line-height:18px; text-align:center; text-indent:0; font-size:18px; text-decoration:none;  background:none; filter:!important; }
.aui_state_noTitle .aui_close:hover, .aui_state_noTitle .aui_close:active { text-decoration:none;  }
.aui_state_noTitle .aui_dialog { box-shadow: none; }
.aui_nw { /* Gecko browsers */-moz-border-radius-topleft: 15px;/* Webkit browsers */-webkit-border-top-left-radius: 15px;/* W3C syntax */border-top-left-radius: 15px;}
.aui_ne { /* Gecko browsers */-moz-border-radius-topright: 15px;/* Webkit browsers */-webkit-border-top-right-radius: 15px;/* W3C syntax */border-top-right-radius: 15px;}
.aui_sw { /* Gecko browsers */-moz-border-radius-bottomleft: 15px;/* Webkit browsers */-webkit-border-bottom-left-radius: 15px;/* W3C syntax */border-bottom-left-radius: 15px;}
.aui_se {/* Gecko browsers */-moz-border-radius-bottomright: 15px;/* Webkit browsers */-webkit-border-bottom-right-radius: 15px;/* W3C syntax */border-bottom-right-radius:  15px; }
/*artDialog样式 结束*/

/*自动完成样式 开始*/
/*box样式*/
.autoComplete{ font:normal 12px/20px  Tahoma,"宋体";width: 280px; background-color:white;position:absolute;display:none;}
.autoComplete table{line-height:22px;}
.autoComplete table tr td{}
/*表头单元格样式*/
.autoComplete .autoHeader table{ padding-right:10px;}
.autoComplete .autoHeader {background:url(../images/boxbg.png) repeat-x 0 -40px; height:34px; line-height:34px; border:#d6d6d6 solid 1px; position:relative;}
.autoComplete .autoHeader th{text-align:center;}
.autoComplete .autoTable { width:auto; border:#d6d6d6 solid 1px; margin-top:-1px; background-color:#fff;}
.autoComplete .autoTable table tr td{text-align:center; height:24px!important; padding:0 !important;  line-height:24px !important; border:none !important;}
/*选中行的样式*/
.autoComplete .autoTable tr:hover{background-color:#F5F5F5; }
.autoComplete .autoTable tr.o{background-color:#ebebeb; cursor:pointer;}
/*自动完成样式 结束*/

/* 描述模板编辑器 */
.editwrap { display: inline-block; width: 872px; border: 1px solid #000; overflow: auto; }

.J_TAdd { background-color: #000;padding:3px 0;text-align:center;font-weight:bold; color: white; cursor:pointer;}

.J_TMask { position: absolute; border: 1px dashed #78B6D2;/* height:500px;width:500px;*/}
    .J_TMask ul { position:relative;float:right;z-index:5;margin:2px 2px 0 0; }
        .J_TMask ul li { padding:3px 3px;display: inline-block; background-color: black; color: white; cursor: pointer; }
    .J_TMask .masklayer {  z-index:4;height:100%;width:100%;background-color: #78B6D2;filter:alpha(opacity=30);opacity:0.3;position:relative;top:0;}
/*描述模板编辑器*/

/*订单列表商品图片*/
.OrderListImg {overflow:hidden;width:400px;}
.OrderListImg img {width: 70px;margin: 0px 3px 2px 4px; }