@charset "utf-8";
/* CSS Document */
/*****应用时隐藏这段css*****/

/**********/
[class^="icon_"], [class*=" icon_"]{background-image:url(../images/signback.png); background-repeat:no-repeat; width:14px; height:14px; display:inline-block; vertical-align:text-top;}
.icon_gray{ background-image:url(../images/signgray.png);}/*灰色图案就加上这个样式*/
.icon_white{ background-image:url(../images/signwhite.png);}/*白色图案就加上这个样式*/

.icon_glass{background-position:0 0}
.icon_music{background-position:-24px 0}
.icon_search{background-position:-48px 0}
.icon_envelope{background-position:-72px 0}
.icon_heart{background-position:-96px 0}
.icon_star{background-position:-120px 0}
.icon_star_empty{background-position:-144px 0}
.icon_user{background-position:-168px 0}
.icon_film{background-position:-192px 0}
.icon_th_large{background-position:-216px 0}
.icon_th{background-position:-240px 0}
.icon_th_list{background-position:-264px 0}
.icon_ok{background-position:-288px 0}
.icon_remove{background-position:-312px 0}
.icon_zoom_in{background-position:-336px 0}
.icon_zoom_out{background-position:-360px 0}
.icon_off{background-position:-384px 0}
.icon_signal{background-position:-408px 0}
.icon_cog{background-position:-432px 0}
.icon_trash{background-position:-456px 0}
.icon_home{background-position:0 -24px}
.icon_file{background-position:-24px -24px}
.icon_time{background-position:-48px -24px}
.icon_road{background-position:-72px -24px}
.icon_download_alt{background-position:-96px -24px}
.icon_download{background-position:-120px -24px}
.icon_upload{background-position:-144px -24px}
.icon_inbox{background-position:-168px -24px}
.icon_play_circle{background-position:-192px -24px}
.icon_repeat{background-position:-216px -24px}
.icon_refresh{background-position:-239px -24px}
.icon_list_alt{background-position:-264px -24px}
.icon_lock{background-position:-287px -24px}
.icon_flag{background-position:-312px -24px}
.icon_headphones{background-position:-336px -24px}
.icon_volume_off{background-position:-360px -24px}
.icon_volume_down{background-position:-383px -24px}
.icon_volume_up{background-position:-408px -24px}
.icon_qrcode{background-position:-432px -24px}
.icon_barcode{background-position:-456px -24px}
.icon_tag{background-position:0 -48px}
.icon_tags{background-position:-25px -48px}
.icon_book{background-position:-48px -48px}
.icon_bookmark{background-position:-72px -48px}
.icon_print{background-position:-96px -48px}
.icon_camera{background-position:-120px -48px}
.icon_font{background-position:-144px -48px}
.icon_bold{background-position:-167px -48px}
.icon_italic{background-position:-192px -48px}
.icon_text_height{background-position:-216px -48px}
.icon_text_width{background-position:-240px -48px}
.icon_align_left{background-position:-264px -48px}
.icon_align_center{background-position:-288px -48px}
.icon_align_right{background-position:-312px -48px}
.icon_align_justify{background-position:-336px -48px}
.icon_list{background-position:-360px -48px}
.icon_indent_left{background-position:-384px -48px}
.icon_indent_right{background-position:-408px -48px}
.icon_facetime_video{background-position:-432px -48px}
.icon_picture{background-position:-456px -48px}
.icon_pencil{background-position:0 -72px}
.icon_map_marker{background-position:-24px -72px}
.icon_adjust{background-position:-48px -72px}
.icon_tint{background-position:-72px -72px}
.icon_edit{background-position:-96px -72px}
.icon_share{background-position:-120px -72px}
.icon_check{background-position:-144px -72px}
.icon_move{background-position:-168px -72px}
.icon_step_backward{background-position:-192px -72px}
.icon_fast_backward{background-position:-216px -72px}
.icon_backward{background-position:-240px -72px}
.icon_play{background-position:-264px -72px}
.icon_pause{background-position:-288px -72px}
.icon_stop{background-position:-312px -72px}
.icon_forward{background-position:-336px -72px}
.icon_fast_forward{background-position:-360px -72px}
.icon_step_forward{background-position:-384px -72px}
.icon_eject{background-position:-408px -72px}
.icon_chevron_left{background-position:-432px -73px}
.icon_chevron_right{background-position:-456px -73px}
.icon_plus_sign{background-position:0 -96px}
.icon_minus_sign{background-position:-24px -96px}
.icon_remove_sign{background-position:-48px -96px}
.icon_ok_sign{background-position:-72px -96px}
.icon_question_sign{background-position:-96px -96px}
.icon_info_sign{background-position:-120px -96px}
.icon_screenshot{background-position:-144px -96px}
.icon_remove_circle{background-position:-168px -96px}
.icon_ok_circle{background-position:-192px -96px}
.icon_ban_circle{background-position:-216px -96px}
.icon_arrow_left{background-position:-240px -96px}
.icon_arrow_right{background-position:-264px -96px}
.icon_arrow_up{background-position:-289px -96px}
.icon_arrow_down{background-position:-312px -96px}
.icon_share_alt{background-position:-336px -96px}
.icon_resize_full{background-position:-360px -96px}
.icon_resize_small{background-position:-384px -96px}
.icon_plus{background-position:-408px -96px}
.icon_minus{background-position:-433px -96px}
.icon_asterisk{background-position:-456px -96px}
.icon_exclamation_sign{background-position:0 -120px}
.icon_gift{background-position:-24px -120px}
.icon_leaf{background-position:-48px -120px}
.icon_fire{background-position:-72px -120px}
.icon_eye_open{background-position:-96px -120px}
.icon_eye_close{background-position:-120px -120px}
.icon_warning_sign{background-position:-144px -120px}
.icon_plane{background-position:-168px -120px}
.icon_calendar{background-position:-192px -120px}
.icon_random{width:16px;background-position:-216px -120px}
.icon_comment{background-position:-240px -120px}
.icon_magnet{background-position:-264px -120px}
.icon_chevron_up{background-position:-288px -120px}
.icon_chevron_down{background-position:-313px -119px}
.icon_retweet{background-position:-336px -120px}
.icon_shopping_cart{background-position:-360px -120px}
.icon_folder_close{width:16px;background-position:-384px -120px}
.icon_folder_open{width:16px;background-position:-408px -120px}
.icon_resize_vertical{background-position:-432px -120px}
.icon_resize_horizontal{background-position:-456px -120px}
.icon_hdd{background-position:0 -144px}
.icon_bullhorn{background-position:-24px -144px}
.icon_bell{background-position:-48px -144px}
.icon_certificate{background-position:-72px -144px}
.icon_thumbs_up{background-position:-96px -144px}
.icon_thumbs_down{background-position:-120px -144px}
.icon_hand_right{background-position:-144px -144px}
.icon_hand_left{background-position:-168px -144px}
.icon_hand_up{background-position:-192px -144px}
.icon_hand_down{background-position:-216px -144px}
.icon_circle_arrow_right{background-position:-240px -144px}
.icon_circle_arrow_left{background-position:-264px -144px}
.icon_circle_arrow_up{background-position:-288px -144px}
.icon_circle_arrow_down{background-position:-312px -144px}
.icon_globe{background-position:-336px -144px}
.icon_wrench{background-position:-360px -144px}
.icon_tasks{background-position:-384px -144px}
.icon_filter{background-position:-408px -144px}
.icon_briefcase{background-position:-432px -144px}
.icon_exitFScreen{background-position:-456px -144px}
.icon_envelope_open{background-position:0px -166px;}
.icon_up_arrow{background-position:-23px -165px;}
.icon_down_arrow{ background-position:-48px -165px;}
.icon_unlock{ background-position:-73px -166px;}
.icon_save{ background-position:-94px -166px;}
.icon_forbidden{ background-position:-119px -166px;}
.icon_fullscreen{ background-position:-143px -166px;}
.icon_audit{ background-position:-167px -166px;}
.icon_storehouse{ background-position:-192px -166px;}
.icon_exitstore{ background-position:-215px -166px;}
.icon_tostore{ background-position:-240px -166px;}
.icon_tosee{ background-position:-264px -166px;}
.icon_proOder{ background-position:-288px -166px;}
.icon_cancelAudit{ background-position:-312px -166px;}
.icon_copy{ background-position:-336px -166px;}
.icon_toTop{ background-position:-360px -166px;}
.icon_toDown{ background-position:-73px -186px;}
.icon_digest{ background-position:-384px -166px;}
.icon_changeGoods{ background-position:-408px -166px;}
.icon_returnGoods{ background-position:-432px -166px;}
.icon_intoStore{ background-position:-455px -166px;}
.icon_outtoStore{ background-position:0px -186px;}
.icon_importing{ background-position:-23px -186px;}
.icon_synchronous{ background-position:-49px -186px;}

/*其他*/
.iconn_eye_close{ background:url(../images/tips_icon.png) no-repeat -108px -23px; width:14px; height:14px; display:inline-block; vertical-align:text-top;}


