@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
    <style>
        BODY { color: #000000; background-color: white; font-family: Verdana; margin-left: 0px; margin-top: 0px; } 
        A:link { color: #336699; font-weight: bold; text-decoration: underline; } 
        A:visited { color: #6699cc; font-weight: bold; text-decoration: underline; } 
        A:active { color: #336699; font-weight: bold; text-decoration: underline; } 
        .heading1 { background-color: #F9F1E9;line-height: 22px; border: #E5BD93 1px solid; color: #000; font-family: Tahoma; font-size: 14px; font-weight: normal;margin:20px; padding: 10px;} 
        .msg{ background: url('/theme/images/sorry.jpg') no-repeat;padding: 20px 0px 30px 120px;margin-top: 15px;}
    </style>
</head>
    <body>
        <div class="msg">
            <p class="heading1">
                <b>404提示：</b> 页面未找到，请输入正确的地址！
            </p>
        </div>
    </body>
</html>