@charset "utf-8";
/* CSS Document */
.boxs .head_tab ul li.long{ width:110px;}
.boxs_con_c1 .list{background:#fafafa;}
.boxs_detail_dispay .tit_con table select.wid{ width:285px;}
.input_w{ width:910px;}
.boxs_detail .detail_tit table tr td.bt{ border-top:1px solid #D6D6D6;}
.tr_height td{ height:34px;}
