<?xml version="1.0"?>
<CustomsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--支付宝网关地址（新）-->
  <GATEWAY_NEW>https://mapi.alipay.com/gateway.do?</GATEWAY_NEW>
  <!--商户的私钥-->
  <key>ag6658faeld0ga325xsoktysuvguhzhh</key>
  <!--企业备案号-->
  <input_charset>utf-8</input_charset>
  <!--签名方式-->
  <sign_type>MD5</sign_type>
  <!--合作者身份ID-->
  <partner>2088021763016271</partner>
  <!--海关FTP地址密码-->
  <service>alipay.acquire.customs</service>
  <!--商户在海关备案的编号-->
  <merchant_customs_code>IE150928733362</merchant_customs_code>
  <!--商户在海关备案的名称-->
  <merchant_customs_name>全绿商贸</merchant_customs_name>
  <!--海关编号-->
  <customs_place>GUANGZHOU</customs_place>
</CustomsConfig>
