<?xml version="1.0"?>
<AttachmentConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--ftp配置-->
  <FtpImageServer>ftp://192.168.24.127:21/</FtpImageServer>
  <FtpUserName>hytv3manager</FtpUserName>
  <FtpPassword>pisen@2012</FtpPassword>
  <!--图片服务器地址-->
  <FileServer>http://server.rennibi.cn/</FileServer>
  <!--编辑器上传的图片存放文件夹-->
  <EditorImage>ei</EditorImage>
  <!--图片生成工具地址-->
  <SyncCreateThumbnailToolAddress>http://server.rennibi.cn</SyncCreateThumbnailToolAddress>
</AttachmentConfig>