<?xml version="1.0"?>
<CustomsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--广州海关报文采用标准的AES加密，加密的密钥 Key-->
  <Key>MYgGnQE2+DAS973vd1DFHg==</Key>
  <!--报文类型 880020-电子订单-->
  <MessageType>880020</MessageType>
  <!--企业备案号-->
  <SenderID>IE150831444711</SenderID>
  <!--海关FTP地址-->
  <FtpUrl>ftp://210.21.48.7:2312/</FtpUrl>
  <!--海关FTP地址用户名-->
  <FtpUserName>XYMY</FtpUserName>
  <!--海关FTP地址密码-->
  <FtpPassword>z233L7PK</FtpPassword>
  <!--版本号-->
  <Version>1.0</Version>
</CustomsConfig>
