<?xml version="1.0"?>
<ScheduleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
    <Event key="ClearJsTicketEvent" time_of_day="-1" minutes="90" type="Hyt.Service.Event.ClearJsTicketEvent, Hyt.Service.Event" enabled="true" is_system_event="true" />
    <Event key="ClearAccessTokenEvent" time_of_day="-1" minutes="90" type="Hyt.Service.Event.ClearAccessTokenEvent, Hyt.Service.Event" enabled="true" is_system_event="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfig>