@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "盘点报告单";
}
<script type="text/javascript" src="/Theme/scripts/Utils.yui.js"></script>
<script type="text/javascript" src="/Theme/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="case">
    <div class="boxs">
        <div class="boxs_tit head_m">
            <h3>
                盘点报告单管理
            </h3>
        </div>

        <div class="boxs_con_c1">

            <!--工具条开始-->
            <div class="boxs_tool">
                <!--搜索开始-->
                <div class="right_tool clearfix">
                    <span class="veralign_t fl m10_l">状态</span>
                    <div class="fl m10_l">
                        <select class="select_ht28" id="StatusList" searchitem='Status' search="Status">
                            <option value="-1">全部</option>
                            @(ViewBag.Status)
                        </select>
                    </div>
                    <div class="search_btn wd200 m10_l fl" style="display:none;">
                        <input type="text" value="" class="input_ht28" id="Keyword">
                        <button class="btn btn_ht28 wd28 " title="搜索" id="searchBtn">
                            <span class="icon_search"></span>
                        </button>
                    </div>
                </div>
                <!--搜索结束-->
                <!--功能按钮开始-->
                <div class="left_tool">
                    @{
                        <button class="btn btn_ht26 btn_blue m10_r "title="新增盘盈入库" onclick="Add(5)">
                            <span class="icon_plus icon_white"></span>
                            <span class="m5_l">新增盘盈入库</span>
                        </button>
                        <button class="btn btn_ht26 btn_blue m10_r " title="新增盘亏入库" onclick="Add(6)">
                            <span class="icon_plus icon_white"></span>
                            <span class="m5_l">新增盘亏入库</span>
                        </button>
                    }
                </div>
                <!--功能按钮结束-->
            </div>
            <!--工具条结束-->

            <div id="paging">
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        doSearch(1);
    })

    //启用状态查询
    $("[searchItem='Status']").change(function () {
        doSearch(1);
    });

    //新增弹出
    $("#addUser").bind("click", function () {
        popUserInfo('', 1);
    });
    //弹出窗口
    function popUserInfo(id, page) {
        UI.DialogOpen('/InventorySheet/EditInventory' + id + '?page=' + page, {
            width: 1000,
            height: 600,
            title: '新建盘点作业',
            button: [{
                name: '保存',
                callback: function () { },
                focus: true
            }, { name: '取消' }
            ]
        }, false);
    }

    //查询列表
    function doSearch(id) {
        var status = $("[searchItem='Status']").val(); //选中状态
        Ajax.get("/InventorySheet/WhInventoryReporPage?id=@(string.IsNullOrEmpty(Request.QueryString["id"]) ? "1" : Request.QueryString["id"])&r=" + Math.random(), "Search", function (p) {
            p.setParams("id", id),
            p.setParams("status", status)
        }, function (data) {
            $('#paging').empty();
            $('#paging').html(data);
        });
    }

    var Pageindex = 1;
    function Add(PageType)
    {
        window.location.href = '/InventorySheet/EditWhInventoryRepor?PageType=' + PageType + '&Pageindex=' + Pageindex;
    }
</script>
