@using Hyt.Infrastructure.Pager
@using Hyt.Model
@using Hyt.Util
@model PagedList<Hyt.Model.Procurement.CBWhWarehouseMonthStockHistory>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border_bnone border_rnone">
    <thead>
        <tr>
            <th width="50" >ID</th>
            <th width="180" >商品ERP编号</th>
            <th>商品EAS名称</th>
            <th>一月</th>
            <th>二月</th>
            <th>三月</th>
            <th>四月</th>
            <th>五月</th>
            <th>六月</th>
            <th>七月</th>
            <th>八月</th>
            <th>九月</th>
            <th>十月</th>
            <th>十一月</th>
            <th>十二月</th>
        </tr>
       
    </thead>
    <tbody>
        @{
            if (Model.TData.Count > 0)
            {
                var Index = 0;
                string cs = string.Empty;
                int productSysNo = 0;
                foreach (var item in Model.TData)
                {
                    if (item.ProductSysNo != productSysNo)
                    {
                        productSysNo = item.ProductSysNo;
                        <tr>
                            <td>@productSysNo</td>
                            <td>@item.ErpCode</td>
                            <td>@item.EasName</td>
                             @{
                                 for(int i=1;i<=12;i++)
                                 {
                                     try
                                     {
                                         var tempData = Model.TData.First(p => p.ProductSysNo == productSysNo && p.WhMonth == i);
                                         if (tempData == null)
                                         {
                                             <td>0</td>
                                         }
                                         else
                                         { 
                                            <td>@(tempData.TotalQuantity - tempData.LossQuantity)</td>
                                         }
                                     }
                                     catch { 
                                        <td>0</td>
                                     }
                                     
                                 }
                             }
                        </tr>
                    }
                }
            }
            else
            {
                <tr class="odd_color">
                    <td class="align_l p10_l bgr_eb" colspan="6">暂无数据</td>
                </tr>
            }
        }
    </tbody>
</table>
@{Html.RenderPartial("_UrlPaging", Model); }

