@{
    ViewBag.Title = "地区选择";
}

<link href="@Url.Content("~/Theme/Plugins/ZTree/skin.css")" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
    .wrap {
        background: #eee;
        position: absolute;
    }

    .module_tree {
        width: 282px;
        height: 383px;
    }

    .search_btn {
        width: 260px;
    }

        .search_btn input {
            width: 216px;
        }

    .comp5 {
        background-color: #f5f5f5;
        height: 335px;
        overflow-y: auto;
    }

    .pagination {
        border: #c1c1c1 solid 1px;
        margin-left: 0px;
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Theme/Plugins/ZTree/ZTree.yui.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Theme/scripts/UI.yui.js")"></script>
<script type="text/javascript">
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        check: {
            enable: true
        }
    };

    $(function () {
        $("#city").keydown(function (e) {
            if (13 == e.keyCode) {
                var val = $("#city").val();
                if (val && val != "搜索您要的地区...") {
                    doTreeSearch(val);
                } else {
                    doTreeSearch(null);
                }
            }
        });

        $("#search_btn").click(function () {
            var val = $("#city").val();
            if (val && val != "搜索您要的地区...") {
                doTreeSearch(val);
            } else {
                doTreeSearch(null);
            }
        });

        //重置树
        $("#reset_btn").click(function () {
            doTreeSearch(null);
        });

        doTreeSearch(null);
    });
    var myZTree;
    function doTreeSearch(val) {
        var mask = UI.Mask({ obj: $('body'), opacity: 0.2 });
        $.ajax({
            url: '@Url.Action("GetBsAreaZTreeList", "Basic")',
            dataType: "json",
            data: { all: true, keyword: val },
            async: false,
            success: function (response) {
                mask.Remove();
                if (response) {
                    //更具返回结果初始化zTree
                    myZTree = $.fn.zTree.init($("#areaSelector_tree"), setting, response);
                    //默认为收起所以节点
                    myZTree.ExpandAllStatus = false;
                    myZTree.setting.check.chkboxType = { "Y": "p", "N": "ps" };
                } else {
                    UI.Prompt.Error(response.Message);
                }
            },
            error: function () {
                mask.Remove();
            }
        });
    }

    function getCheckedWarehouses() {
        var warehouses = [];
        if (myZTree) {
            var nodes = myZTree.getCheckedNodes(true);
            if (nodes.length > 0) {
                for (var i = 0; i < nodes.length; i++) {
                    var item = nodes[i];
                    if (item.children != null && item.children.length > 0 && hasCheckedChilden(item.children))
                        continue;
                   warehouses.push(-item.id);
                }
            }
        } else {
            UI.Prompt.Error("地区树未初始化或未读取到数据，请检查！");
        }
        return warehouses;
    }
    //added by huangwei
    function getCheckedWarehouseNames() {
        var warehouses = [];
        if (myZTree) {
            var nodes = myZTree.getCheckedNodes(true);
            if (nodes.length > 0) {
                for (var i = 0; i < nodes.length; i++) {
                    var item = nodes[i];
                    if (item.children != null && item.children.length > 0 && hasCheckedChilden(item.children))
                        continue;
                    var name = GetFullPath(item);
                    warehouses.push(name);
                }
            }

        } else {
            UI.Prompt.Error("地区树未初始化或未读取到数据，请检查！");
        }
        return warehouses;
    }
    //是否有选中的下级节点
    function hasCheckedChilden(item) {
        var res = false;
        $(item).each(function() {
            if (this.checked) {
                res = true;
                return;
            }
        });
        return res;
    }
    //递归找出选择节点的父节点，并拼接成全路径
    function GetFullPath(node, fullPath) {
        if (node == null)
            return false;

        //初始化节点值
        if (fullPath == null) {
            fullPath = "";
        }
        fullPath = node.name + fullPath;

        //递归查找
        if (node.getParentNode() != null) {
            node = node.getParentNode();
            fullPath = "-" + fullPath;
            fullPath = GetFullPath(node, fullPath);
        }

        return fullPath;
    }
</script>

<div class="module_tree" id="treePanel">
    <!--导航-->
    <div class="boxs_tit head_m">
        <div class='search_btn m5_t'>
            <input name='' type='text' class='input_ht28' id='city' value='搜索您要的地区...' onmouseover='this.focus()' onblur="if (this.value =='') this.value='搜索您要的地区...'; " onfocus='this.select()' onclick="if (this.value == '搜索您要的地区...') this.value = ''; ">
            <button class='btn btn_ht28 wd28' title='搜索' id='search_btn' type="button"><span class='icon_search'></span></button>
        </div>
    </div>
    <!--导航-->
    <div class="comp5">
        <ul id="areaSelector_tree" class="ztree"></ul>
    </div>
</div>
