<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OracleConnectionString" value="Data Source=202;User Id=hytuser;Password=hytuser;" />
    <add key="LucenePath" value="E:\Pisen\Hyt\Lucene" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>