<div class="def_Infor clearfix">
    <ul>
        <li class="red">
            <div class="f30">80</div>
            <div class="f18 bold">待发货订单</div>
        </li>
        <li class="green">
            <div class="f30">1230</div>
            <div class="f18 bold">待支付订单</div>
        </li>
        <li class="orange">
            <div class="f30">81230</div>
            <div class="f18 bold">未确认订单</div>
        </li>
        <li class="blue">
            <div class="f30">33240</div>
            <div class="f18 bold">已成交订单</div>
        </li>
        <li class="gray">
            <div class="f30">12312</div>
            <div class="f18 bold">退款申请</div>
        </li>
        <li class="gray">
            <div class="f30">1230</div>
            <div class="f18 bold">缺货登记</div>
        </li>
    </ul>
</div>
