<script type="text/javascript" src="@Url.Content("~/Theme/Plugins/Date/WdatePicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Theme/scripts/highcharts.js")"></script>
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            //初始化数据参数
            var chartPara = {
                chart: {
                    type: 'area',
                    renderTo: 'highcharts2',
                    backgroundColor: '#F5F5F5'
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                xAxis: {
                    lineWidth: 1,
                    lineColor: '#c0c0c0',
                    min: 0,
                    max: 30,
                    interval: 1,
                    tickInterval: 2,
                    tickmarkPlacement: 'on',
                    title: {
                        enabled: false
                    }
                },
                yAxis: {
                    title: {
                        text: null
                    },
                    min: 0,
                    max: 5000,
                    interval: 500,
                    tickInterval: 500,
                    lineWidth: 1,
                    lineColor: '#c0c0c0',

                    labels: {

                        formatter: function () {
                            return this.value
                        }
                    }
                },
                tooltip: {

                    shared: true,
                    crosshairs: true,
                    borderRadius: 4,
                    backgroundColr: '#fcfcfc',
                    borderColor: '#fcb322',
                    formatter: function () {
                        return '<span style="color:#fcb322;">销售额：</span>' + '<span style="font-weight:bold;">' + this.y + '</span>';
                    }
                },
                plotOptions: {
                    area: {
                        stacking: 'normal',
                        lineColor: '#fbba37',
                        lineWidth: 1,
                        shadow: false,
                        marker: {
                            radius: 3,
                            lineWidth: 1,
                            lineColor: '#fcb322'
                        }
                    }
                },
                series: [{
                    name: 'Asia',
                    color: '#f3ecdd',
                    data: [0, 0, 1000, 3000, 2521, 1310, 2540, 4600, 3645, 124, 4245, 1078, 1000, 1000, 4521, 2310, 3540, 0, 0, 1000, 3000, 2521, 1310, 2540, 0, 0, 0, 0, 0, 0, 0]
                }]
            };
           
            //数据填充
            var chartSellData = {}, chartReturnData = {}, chartFinanceData = {};
            $.extend(true, chartSellData, chartPara, { chart: { renderTo: 'chartSell' }, series: [{ data: [0, 0, 1000, 1000, 3521, 1310, 1540, 3600, 2645, 124, 4245, 1078, 1000, 1000, 4521, 2310, 3540, 0, 0, 1000, 3000, 2521, 1310, 2540, 0, 0, 200, 300, 0, 0, 0] }] });
            $.extend(true, chartReturnData, chartPara, { chart: { renderTo: 'chartReturn' }, series: [{ data: [1000, 0, 3000, 1000, 2521, 4310, 1540, 1600, 3645, 124, 4245, 1078, 1000, 1000, 4521, 2310, 3540, 0, 0, 1000, 3000, 2521, 1310, 2540, 0, 10, 0, 0, 100, 0, 0] }] });
            $.extend(true, chartFinanceData, chartPara, { chart: { renderTo: 'chartFinance' }, series: [{ data: [200, 1000, 4000, 2000, 4521, 2310, 0, 4600, 645, 1124, 2245, 1078, 1000, 1000, 4521, 2310, 3540, 0, 0, 1000, 3000, 2521, 1310, 2540, 0, 500, 0, 20, 0, 1000, 0] }] });
            //图表展示
            new Highcharts.Chart(chartSellData);
            new Highcharts.Chart(chartReturnData);
            new Highcharts.Chart(chartFinanceData);

            //切换效果
            UI.Tab({ tabNavBox: '#chartbox', tabContentObj: "#charttabcon", currentClass: 'menuon', onActiveTab: function (index, obj) { } });

        });
    });

</script>

<div class="def_box3 m20_t" id="chartbox">
    <div class="head_tab">
        <div class="date_btn120 m10_l m10_r fr">
            <input type="text" name="" id="d1110" class="input_ht26" value="">
            <button onclick="UI.Date({el:'d1110',dateFmt:'yyyy-MM'})" class="btn btn_ht26" title="日历"><span class="icon_calendar"></span></button>
        </div>
        <ul class="tabNav">
            <li class="menuon">销售数据</li>
            <li>退换货数据</li>
            <li>财务数据</li>
        </ul>
    </div>
    <div id="charttabcon">
        <div class="list">
            <div class="boxs_con_c1 p10" style=" background:#f5f5f5;">
                <div id="chartSell" style="height: 320px;">
                </div>
                <div class="chart-infor-out clearfix">
                    <div class="fr clearfix">
                        <span>总销售额<b>9,350</b>亿</span><span class="middle">本月销售额<b>9,350</b>亿</span><span>今日销售额<b>9,350</b>亿</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="boxs_con_c1 p10" style=" background:#f5f5f5;">
                <div id="chartReturn" style="height: 320px">
                </div>
                <div class="chart-infor-out clearfix">
                    <div class="fr clearfix">
                        <span>总销售额<b>9,350</b>亿</span><span class="middle">本月销售额<b>9,350</b>亿</span><span>今日销售额<b>9,350</b>亿</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="boxs_con_c1 p10" style=" background:#f5f5f5;">
                <div id="chartFinance" style="height: 320px">
                </div>
                <div class="chart-infor-out clearfix">
                    <div class="fr clearfix">
                        <span>总销售额<b>9,350</b>亿</span><span class="middle">本月销售额<b>9,350</b>亿</span><span>今日销售额<b>9,350</b>亿</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
