<div class="def_Infor clearfix">
    <ul>
        <li class="red">
            <div class="f30">80</div>
            <div class="f18 bold">待发货订单</div>
        </li>
        <li class="green">
            <div class="f30">11</div>
            <div class="f18 bold">待出库订单</div>
        </li>
    </ul>
</div>
