<?xml version="1.0"?>
<ExpressConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Yt>
    <ClientId>K21000119</ClientId>
    <PartnerId>u2Z1F7Fh</PartnerId>
    <CustomerId>K21000119</CustomerId>
    <ReqURL>http://lmtest.yto.net.cn/globalunion/outcall/blcwaybillgzhg</ReqURL>
  </Yt>
  <Kk>
    <ClientID>XRC</ClientID>
    <PartnerId>SYM</PartnerId>
    <ReqURL>http://lmtest.yto.net.cn/globalunion/outcall/blcwaybillgzhg</ReqURL>
  </Kk>
  <Kd100>
    <Key>ntSFshOu7046</Key>
    <Secret>2adc1f47936543debdf2bff890828dbb</Secret>
    <ReqURL>http://api.kuaidi100.com/eorderapi.do?method=getElecOrder</ReqURL>
  </Kd100>
</ExpressConfig>
