<?xml version="1.0"?>
<GaoJieConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--账号-->
  <seller>shunying@shunyingtrading.cn</seller>
  <!--验证码-->
  <api_key>642af55637a8b7e8ac9a462c6ae1afcb</api_key>
  <!--订单网址-->
  <pweb>http://www.shunyingtrading.cn/</pweb>
  <!--网址名称-->
  <web_name>信营全球购</web_name>
  <!--商家备案号-->
  <re_no>45789</re_no>
  <!--商家备案名称-->
  <re_name>信营全球购</re_name>
  <!--申报地海关-->
  <DeclareCustoms>广州机场关</DeclareCustoms>
  <!--进出口口岸-->
  <IePort>广州</IePort>
  <!--进出口口岸-->
  <SendUserCardID>441423198605010015</SendUserCardID>
</GaoJieConfig>