<?xml version="1.0" encoding="utf-8" ?>
<GuoMeiConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--国美API调用入口-->
  <ApiUrl>http://gw.gome.com.cn/router</ApiUrl>

  <!--国美开放平台应用Appkey-->
  <AppKey>0149b7a6d5bf4e01a5dff5e48a919daa</AppKey>

  <!--国美开放平台应用AppSecret-->
  <AppSecret>1ee4f6b7dc08425ca421933410a5d291</AppSecret>
  
  <!--国美开放平台应用AccessToken-->
  <AccessToken>0c9e3e2d778d41feab837fb2810029e0</AccessToken>

  <!--用户授权获取授权码地址-->
  <AuthorizeUrl>http://oauth.gome.com.cn/authorize</AuthorizeUrl>

  <!--授权码换取登录令牌地址-->
  <AccessTokenUrl>http://oauth.gome.com.cn/token</AccessTokenUrl>

  <!--一号店授权回调地址-->
  <GuoMeiCallBack>http://xy_GuoMei.com/</GuoMeiCallBack>

</GuoMeiConfig>