<?xml version="1.0"  encoding="utf-8"?>
<SmsTemplateConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SmsTemplates>
    <SmsTemplateInfo>
      <Key>发送手机验证短信</Key>
      <Content>您好，达仔欢迎您注册任你比VIP账户，您的验证码为：{0}，达仔提醒您切勿将验证码给他人。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送重置密码短信</Key>
      <Content>尊敬的会员，您正在进行找回密码操作，您的验证码为：{0}，达仔提醒您切勿将验证码给他人，服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送新密码短信</Key>
      <Content>尊敬的会员，您的新密码是:{0}。达仔提醒您请牢记新密码，并删除本条短信，服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送注册成功短信</Key>
      <Content>您好，欢迎您成为任你比VIP，会员名：{0}，密码：{1}，达仔提醒您请尽快修改密码并领取积分奖励，服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送第三方物流发货通知短信</Key>
      <Content>尊敬的会员，您的订单{0}，达仔正在日夜兼程送往您身边，您可以登录http://dms.piseneasy.com输入{1}进行查询，感谢您的支持。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送自建物流发货通知短信</Key>
      <Content>尊敬的会员，您的订单{0}已由任你比•当日达配送，配送达仔{1}电话{2}，感谢您的耐心等待，服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送自提通知短信</Key>
      <Content>尊敬的会员，您的订单{0}备货完成，请2日内到{1}提货，达仔联系电话{2}。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送自提通知短信带验证码</Key>
      <Content>尊敬的会员，您的订单{0}备货完成，请2日内到{1}提货，提货验证码：{2}，达仔联系电话{3}。达仔提醒您提货时请出示验证码。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送退货提交通知短信</Key>
      <Content>尊敬的会员，您{0}提交的退货申请正在处理，达仔会尽快与您联系。请您耐心等待。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送退货受理审核通过短信</Key>
      <Content>尊敬的会员，您的退货申请已审核通过，单号{0}，相关商品寄回地址：{1}，收件人：{2},达仔会尽快为您办理相关事宜。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送退货受理审核未通过短信</Key>
      <Content>尊敬的会员，您的退货申请未能通过审核，如有疑问请致电服务热线：4006840668，也可登录当日达查询。</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送换货受理审核通过短信</Key>
      <Content>尊敬的会员，您的换货申请已审核通过，单号{0}，相关商品寄回地址：{1}，收件人：{2},达仔会尽快为您办理相关事宜。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送换货完成短信</Key>
      <Content>亲爱的会员，您的换货申请达仔为您处理完成，已进行货品换新，订单号{0}，请登录任你比•当日达查询相关信息。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送换货受理审核未通过短信</Key>
      <Content>亲爱的会员，您的换货申请未能通过审核，如有疑问请致电服务热线：4006840668，也可登录任你比•当日达查询。</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送退款完成短信</Key>
      <Content>亲爱的会员，您的退货单{0}达仔已为您处理完成，款项将在3-7个工作日内退回您的账户，请注意查收，给您带来的不便敬请谅解。服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送门店退款完成短信</Key>
      <Content>尊敬的会员，您的退货单{0}达仔已为您处理完成，款项以现金形式退回，给您带来的不便敬请谅解，服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送升舱成功短信</Key>
      <Content>尊敬的客户，您在任你比·当日达金牌授权店-{0}的订单{1}将由任你比官方发出,您可以登录piseneasy.com查询更多服务信息，查询密码：{3}，服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送参加活动获得积分短信</Key>
      <Content>亲爱的会员:您参加{0}活动获得{1}积分已到账，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送购物获得积分短信</Key>
      <Content>亲爱的会员，您本次购物获得{0}积分已到账，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送完善个人资料获得积分短信</Key>
      <Content>亲爱的会员，您完善资料获得{0}积分奖励已到账，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送参加活动使用积分短信</Key>
      <Content>亲爱的会员，您使用{1}积分参加{0}活动，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送评价商品获得积分短信</Key>
      <Content>亲爱的会员，您本次评价商品获得{0}积分，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送晒单获得积分短信</Key>
      <Content>亲爱的会员，您本次晒单获得{0}积分，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送积分兑换礼品短信</Key>
      <Content>亲爱的会员，您使用{0}积分兑换礼品，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送积分兑换优惠券短信</Key>
      <Content>亲爱的会员，你使用{0}积分兑换{1}优惠券，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送积分兑换惠源币短信</Key>
      <Content>亲爱的会员，您使用{0}积分兑换{1}惠源币，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>
    <SmsTemplateInfo>
      <Key>发送使用惠源币购物短信</Key>
      <Content>亲爱的会员，您使用{0}惠源币支付{1}元，咨询服务热线：4006840668</Content>
    </SmsTemplateInfo>    
  </SmsTemplates>
</SmsTemplateConfig>