<?xml version="1.0" encoding="utf-8" ?>
<SUNINGConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--苏宁API调用入口-->
  <ApiUrl>http://open.suning.com/api/http/sopRequest</ApiUrl>

  <!--苏宁开放平台应用Appkey-->
  <AppKey>182fd9b7a159e0210dab494890cd5ccb</AppKey>

  <!--苏宁开放平台应用AppSecret-->
  <AppSecret>b7268e4a7e72579d562cb2a6d0f6393e</AppSecret>

  <!--苏宁开放平台应用AccessToken，商家自研应用不需要用到-->
  <AccessToken></AccessToken>

  <!--用户授权获取授权码地址-->
  <AuthorizeUrl>https://open.suning.com/api/oauth/authorize</AuthorizeUrl>

  <!--授权码换取登录令牌地址-->
  <AccessTokenUrl>https://open.suning.com/api/oauth/token</AccessTokenUrl>

  <!--苏宁授权回调地址,商家自研应用不需要用到-->
  <SUNINGCallBack></SUNINGCallBack>

</SUNINGConfig>