<?xml version="1.0" encoding="utf-8"?>
<TaobaoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--淘宝API调用入口-->
  <ApiUrl>http://gw.api.taobao.com/router/rest</ApiUrl>

  <!--淘宝开放平台应用appkey-->
  <AppKey>21632123116903</AppKey>

  <!--淘宝开放平台应用appsecret-->
  <AppSecret>cc64bbc21235123123a186e2dfc971ea390add98c</AppSecret>

  <!--用户授权获取授权码地址-->
  <AuthorizeUrl>https://oauth.taobao.com/authorize</AuthorizeUrl>

  <!--授权码换取登录令牌地址-->
  <AccessTokenUrl>https://oauth.taobao.com/token</AccessTokenUrl>

  <!--授权回调地址-->
  <TaobaoCallBack>http://drp.huiyuanti.com/Account/TaobaoCallBac123k/</TaobaoCallBack>
  <!--<TaobaoCallBack>admin.singingwhale.cn/Distribution/GetRedirect_uri_code</TaobaoCallBack>-->
  <!--淘宝升舱订单标识 红、黄、绿、蓝、紫 分别对应 1、2、3、4、5-->
  <SellerFlag>4</SellerFlag>
  <!--已升舱的订单标识-->
  <ExcludeFlag>5</ExcludeFlag>
</TaobaoConfig>
