<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--Memcached Start-->
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Extra.SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Extra.Erp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ServiceConfig" type="Pisen.Framework.Service.ServiceConfig, Pisen.Framework.Service" requirePermission="false" />
  </configSections>
  <enyim.com>
    <!-- you can use protocol="Text" if your memcached is < 1.3 but you should probably upgrade -->
    <memcached protocol="Text">
      <servers>
        <!--<add address="192.168.10.206" port="11212" />-->
        <add address="127.0.0.1" port="11211" />
      </servers>
      <!-- It's not recommended to use timeouts lower than 1-2sec.-->
      <socketPool connectionTimeout="00:00:3" deadTimeout="00:00:3" />
    </memcached>
  </enyim.com>
  <!--Memcached End-->

  <ServiceConfig>
    <AppKey>11795611</AppKey>
    <AppSecret>477183ee85e74ff4ad621fa726aced9d</AppSecret>
  </ServiceConfig>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceProxyBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="ITMSService" address="http://test.soa.pisen.com.cn:9212/Service.EC.Core.TMS/TMSService.svc" contract="Pisen.Service.EC.Core.TMS.Contract.ITMSService" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <endpoint name="IUploadService" address="http://imagetool.v3.huiyuanti.com:9217/FileProcessor/UploadService.svc" contract="Hyt.Service.Contract.FileProcessor.IUploadService" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <endpoint name="IExtendMallOrder" address="http://localhost:60005/MallSeller/ExtendMallOrder.svc" contract="Hyt.Service.Contract.MallSeller.IExtendMallOrder" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <endpoint name="IThumbnailService" address="http://imagetool.v3.huiyuanti.com:9217/FileProcessor/ThumbnailService.svc" contract="Hyt.Service.Contract.FileProcessor.IThumbnailService" binding="basicHttpBinding" bindingConfiguration="ServiceProxyBinding" />
      <endpoint name="IKuaidiService" address="http://192.168.24.206:9216/kuaidi100/Kuaidi.svc" contract="Pisen.Service.Kuaidi.IKuaidiService" binding="basicHttpBinding" />
      <endpoint name="ICustomerService" address="http://soa.v3.huiyuanti.com/sso/v4/CustomerService.svc" contract="Pisen.Service.Share.SSO.Contract.ICustomerService" binding="basicHttpBinding" />
      <!--获取企业用户信息服务 sso 谭显锋添加-->
      <endpoint name="IEnterpriseUserService" address="http://soa.v3.huiyuanti.com/sso/v4/EnterpriseUserService.svc" contract="Pisen.Service.Share.SSO.Contract.IEnterpriseUserService" binding="basicHttpBinding" />
      <!--Ims 服务  http://192.168.24.67/SaleIms/SaleService.svc -->
      <endpoint name="ISaleService" address="http://192.168.24.67/SaleIms/SaleService.svc" contract="Pisen.Service.EC.IMS.Contract.ISaleService" binding="basicHttpBinding" />
      <!--end-->

      <!--订单操作业务服务-->
      <endpoint name="IDrdOrderHandleService" address="http://192.168.24.211:8001/sale/DrdOrderHandleService.svc" contract="SOA.EC.Sale.Contract.IDrdOrderHandleService" binding="basicHttpBinding"></endpoint>
      <endpoint name="IPointShopService" address="http://192.168.24.211:8001/sale/PointShopService.svc" contract="SOA.EC.Sale.Contract.IPointShopService" binding="basicHttpBinding"></endpoint>
      <endpoint name="ICrowdfunding" address="http://192.168.24.211:8001/sale/CrowdfundingService.svc" contract="SOA.EC.Sale.Contract.ICrowdfunding" binding="basicHttpBinding"></endpoint>
      <!--财务服务-->
      <endpoint name="IFinanceService" address="http://192.168.24.211:8001/finance/FinanceService.svc" contract="SOA.EC.Finance.Contract.IFinanceService" binding="basicHttpBinding"></endpoint>
      <!-- 远程索引服务-->
      <endpoint name="IIndexService" address="http://192.168.24.211:8001/productindex/IndexService.svc" contract="Pisen.Service.EC.Core.Product.Contract.IIndexService" binding="basicHttpBinding"></endpoint>
      <!-- 百世汇通电子面单服务-->
      <endpoint name="IBestExpressSurfaceBillService" address="http://192.168.24.211:8001/bestexpress/BestExpressSurfaceBillService.svc" contract="Pisen.Service.EC.Core.DRP.Contract.IBestExpressSurfaceBillService" binding="basicHttpBinding"></endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="OracleConnectionString" value="Data Source=120.24.174.206;Initial Catalog=xingying_test;Persist Security Info=True;User ID=demo;Password=demo" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <!--防止json太大无法序列化-->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!--cache setting begin-->
    <!--缓存开关-->
    <add key="CacheState" value="Open" />
    <!--缓存类型-->
    <add key="CacheType" value="Memcached" />
    <!--缓存过期时间(分钟)-->
    <add key="CacheExpiry" value="30" />
    <!--cache setting end-->
    <add key="BaiduMapKey" value="4a129ccbf39c60f2eb556dba394e969d" />
    <!--图片处理程序配置-->
    <add key="ProductImagePath" value="D:\pisen\hyt\image\" />
    <!--是否开启MiniProfiler性能分析-->
    <add key="MiniProfiler" value="false" />
    <!--生成的配送单报表Excel存放路径 -->
    <add key="reportfilepath" value="~/download/reportfile" />
    <!--是否开启任务计划 -->
    <add key="EnableTask" value="false" />

    <add key="LuceneIndexPath" value="E:\Pisen\Hyt\Lucene" />
    <!--Pisen Framwork SSO Begin-->

    <add key="SSOAuthUrl" value="http://test.v2.passport.pisen.com.cn:9212/Oauth/SignOn" />
    <!--SSO配置，value为SSO登入地址-->

    <!--订单任务分配使用任务消息开关(后台下单是否应用自动审单逻辑)-->
    <add key="OrderJobMessageState" value="Open" />
    <!--Pisen Framwork SSO End-->
    <!-- 品胜市场部账号编号-->
    <add key="PisenMarketCustomerID" value="20482" />
    <!--是否允许调用快递100-->
    <add key="EnableCallKuaiDi100" value="false" />
    <!--Eas配置，货物为哪个办事处补发货；值为对应组织的编码-->
    <add key="StorageOrgUnit" value="3015" />

    <!--补货退回转销售出库虚拟仓库-->
    <add key="VirtualWarehouse" value="ZK02830152" />

    <!-- 默认展示的地图类型 百度=10 高德=20-->
    <add key="DefaultMapType" value="10" />

    <!-- 百世汇通电子面单配送方式编号-->
    <add key="BestExpressDeliveryTypeNo" value="36" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/Shared/Error404" />
    </customErrors>
    <!--Pisen Framwork SSO Begin-->
    <authentication mode="Forms">
      <forms name="SSO_App_TPC" loginUrl="~/Account/Login" defaultUrl="~/" protection="All" />
    </authentication>
    <!--Pisen Framwork SSO End-->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>


    <!--本地登录-->
    <!--<authentication mode="Forms">
      <forms name="Hyt.Admin.Authentication" loginUrl="~/Account/Login" timeout="60" />
    </authentication>-->
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--允许10M文件上传-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" />
  </system.web>

  <!--排除form验证路径 Begin-->
  <location path="Api">
    <system.web>
      <authorization>
        <!--<deny users="*"/>-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Theme/Plugins/Upload/upload_json.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!--排除form验证路径 End-->

  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <Extra.SMS.Properties.Settings>
      <setting name="Extra_SMS_mandao_WebService" serializeAs="String">
        <value>http://sdk3.entinfo.cn:8060/webservice.asmx</value>
      </setting>
    </Extra.SMS.Properties.Settings>
    <Extra.Erp.Properties.Settings>
      <setting name="Extra_Erp_Authentication_EASLoginProxyService" serializeAs="String">
        <value>http://192.168.22.242:6888/ormrpc/services/EASLogin</value>
      </setting>
      <setting name="Extra_Erp_Eas_Inventory_WSInventoryFacadeSrvProxyService" serializeAs="String">
        <value>http://192.168.22.242:6888/ormrpc/services/WSInventoryFacade</value>
      </setting>
      <setting name="Extra_Erp_Eas_OtherIssueBillFacade_WSOtherIssueBillFacadeSrvProxyService" serializeAs="String">
        <value>http://192.168.22.242:6888/ormrpc/services/WSOtherIssueBillFacade</value>
      </setting>
      <setting name="Extra_Erp_Eas_SaleIssueBillFacade_WSSaleIssueBillFacadeSrvProxyService" serializeAs="String">
        <value>http://192.168.22.242:6888/ormrpc/services/WSSaleIssueBillFacade</value>
      </setting>
      <setting name="Extra_Erp_Eas_ReceivingBillFacade_WSReceivingBillFacadeSrvProxyService" serializeAs="String">
        <value>http://192.168.22.242:6888/ormrpc/services/WSReceivingBillFacade</value>
      </setting>
      <setting name="Extra_Erp_V2_PisenEasyFacade" serializeAs="String">
        <value>http://192.168.22.242:6888/ormrpc/services/PisenEasyFacade</value>
      </setting>
      <setting name="Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EasLogin_UserName" serializeAs="String">
        <value>imsuser</value>
      </setting>
      <setting name="EasLogin_Password" serializeAs="String">
        <value>imsuser1</value>
      </setting>
      <setting name="EasLogin_SlnName" serializeAs="String">
        <value>eas</value>
      </setting>
      <setting name="EasLogin_DcName" serializeAs="String">
        <value>a2</value>
      </setting>
      <setting name="EasLogin_Language" serializeAs="String">
        <value>L2</value>
      </setting>
      <setting name="EasLogin_DbType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>8000</value>
      </setting>
    </Extra.Erp.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
